.squad-container {
    margin: 1.5vmax 0
}

.playing11 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid grey;
}

.playing11>p {
    font-size: 1.3rem;
    font-weight: 600;
}

.team-name-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 2px;
    margin: auto;
    width: 90%;
}

.team-name-header>span {
    margin: 10px 20px;
    font-size: 1.3rem;
    font-weight: 600;
}



.squads {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}

.squads>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.squads>div:first-child {
    border-right: 1px solid grey;
}

.squads>div:first-child>span {
    align-items: flex-start;
}

.teamPlayerName {
    font-size: 1.2rem !important;
}

.teamPlayerRole {
    font-size: 13px;
}


.squads>div:last-child>span>a {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.squads>div>span>a {
    width: 99%;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.squads>div>span>a:hover {
    color: rgb(30, 30, 249);
}

.squads>div:last-child>span>a>p {
    margin: 4px 13px 0px 1px;
}

.squads>div:first-child>span>a>p {
    margin: 4px 0px 0px 15px;
}


.squads>div>span {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.463);
}

@media screen and (max-width : 900px) {
    .playing11 {
        width: 100%;
    }

    .team-name-header {
        width: 95%;
    }

    .squads {
        width: 100%;
    }
    .teamPlayerName {
        font-size: 14px !important;
    }
}
@media screen and (max-width : 1200px) {
    .teamPlayerName {
        font-size: 14px !important;
    }
}