@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@390&display=swap');

body {
   background-color: rgba(235, 235, 235, 0.875);
   margin: 0;
   font-family: 'Josefin Sans', sans-serif;
}